bin/
obj/
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates
.idea/
.vscode/
*.log
*.nupkg
packages/
.DS_Store
Thumbs.db
TestResults/
publish/
_ReSharper*/
*.DotSettings.user
.env
keys/
*.tfvars
.terraform/
*.tfstate
*.tfstate.backup
*.tfvars
*.tfvars.json
crash.log
crash.*.log
*.tfplan
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc
